.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 30px;
}

.footerLink {
    color: whitesmoke;
    text-decoration: underline;
}

.footer-buffer { clear: both; height: 70px; }
